/* Parallax Background */
.parallax-bg {
    background-image: url('crush4.jpg');
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Typewriter Effect */
.typewriter h1 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 36ch;
    animation: typing 4s steps(36) 1s normal both, blink .75s step-end infinite;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
    to { width: 36ch }
}

@keyframes blink {
    50% { border-color: transparent }
}

/* Sticky Music Player */
.sticky-music-player {
    margin-top: 20px; 
    text-align: center;
}


/* Audio Player */
.audio-player {
    text-align: center;
    margin-top: 20px;
}

/* Canvas for Visualizer */
#visualizer {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 200px;
    background-color: #f1f1f1;
}

